<!DOCTYPE html>
<html>
<head>
	<title>SocKick -- Lets rock it</title>
	<!---inport some js file -->
	 <script src="https://code.createjs.com/easeljs-0.8.0.min.js"></script>
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	 <link rel="stylesheet" type="text/css" href="style.css">
	 	<script type="text/javascript">
		var global = {}; // For node.js require
	</script>
</head>

<body>
	<div class="container">
		<div class="row center-block">
			<canvas class="center-block" id="gameStage" width="916" height="594"></canvas>
		</div>
		<div class="row center-block">
			<canvas class="center-block" id="scoreBoard" width="1000" height="100"></canvas>
		</div>
	</div>
</body>
<script src="http://cdn.jsdelivr.net/sockjs/0.3.4/sockjs.min.js"></script>
<script type="text/javascript" src="../Sockick.js"></script>
<script src="render.js" type="text/javascript"></script>
<script type="text/javascript" src="../Model/Ball.js"></script>
<script type="text/javascript" src="../Model/GameWorld.js"></script>
<script type="text/javascript" src="../Model/Player.js"></script>
<script type="text/javascript" src="../Network/SockickClient.js"></script>
</html>